In [ ]:
from global_vars import GLOBAL_PATH

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
hotel = pd.read_csv('/Users/Tomas/Documents/Git/DS_Course/data/hotel_bookings.csv')

In [11]:
hotel.sample(25)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
12567,Resort Hotel,1,55,2017,July,27,4,2,8,2,...,No Deposit,531.0,NaN,0,Transient,92.00,0,0,Canceled,2017-05-12
49657,City Hotel,1,275,2016,April,17,17,2,0,2,...,Non Refund,12.0,NaN,0,Transient,110.00,0,0,Canceled,2015-08-04
14135,Resort Hotel,0,335,2016,September,38,14,1,4,1,...,No Deposit,NaN,223.0,0,Transient-Party,72.00,1,0,Check-Out,2016-09-19
90062,City Hotel,0,33,2016,May,23,29,2,1,2,...,No Deposit,42.0,NaN,0,Transient,85.50,0,0,Check-Out,2016-06-01
99449,City Hotel,0,182,2016,October,42,12,0,1,1,...,No Deposit,234.0,NaN,0,Transient-Party,120.00,0,0,Check-Out,2016-10-13
64688,City Hotel,1,37,2017,March,11,15,0,2,2,...,Non Refund,378.0,NaN,0,Transient,110.00,0,0,Canceled,2017-02-06
108606,City Hotel,0,211,2017,March,12,25,2,3,2,...,No Deposit,9.0,NaN,0,Transient,88.40,0,1,Check-Out,2017-03-30
15335,Resort Hotel,0,149,2015,July,27,1,2,5,2,...,No Deposit,156.0,NaN,0,Contract,69.60,0,1,Check-Out,2015-07-08
115360,City Hotel,0,462,2017,July,26,1,2,2,2,...,No Deposit,229.0,NaN,0,Transient-Party,107.00,0,1,Check-Out,2017-07-05
118354,City Hotel,0,135,2017,August,33,17,0,2,3,...,No Deposit,9.0,NaN,0,Transient,199.50,0,1,Check-Out,2017-08-19
13403,Resort Hotel,1,0,2017,August,33,14,1,0,2,...,No Deposit,240.0,NaN,0,Transient,230.00,0,0,Canceled,2017-08-14
49366,City Hotel,1,19,2016,April,16,11,1,4,2,...,No Deposit,9.0,NaN,0,Transient,111.40,0,0,Canceled,2016-03-28
94792,City Hotel,0,7,2016,August,33,9,0,1,1,...,No Deposit,NaN,40.0,0,Transient,65.00,0,0,Check-Out,2016-08-10
47982,City Hotel,0,87,2016,March,11,11,1,2,2,...,No Deposit,7.0,NaN,0,Transient,51.97,0,1,Check-Out,2016-03-14
55912,City Hotel,1,106,2016,August,35,24,0,4,3,...,No Deposit,9.0,NaN,0,Transient,152.10,0,0,Canceled,2016-05-16
76195,City Hotel,0,260,2015,July,27,4,2,2,2,...,No Deposit,1.0,NaN,0,Transient-Party,62.00,0,0,Check-Out,2015-07-08
40932,City Hotel,0,142,2015,August,33,9,2,1,2,...,No Deposit,NaN,NaN,0,Transient,76.50,0,1,Check-Out,2015-08-12
16991,Resort Hotel,0,258,2015,September,38,17,1,3,2,...,No Deposit,156.0,NaN,0,Contract,50.15,0,2,Check-Out,2015-09-21
79558,City Hotel,0,13,2015,October,43,22,2,5,2,...,No Deposit,83.0,NaN,0,Group,131.97,0,0,Check-Out,2015-10-29
49532,City Hotel,1,126,2016,April,16,14,0,3,2,...,Non Refund,1.0,NaN,39,Transient,65.00,0,0,Canceled,2016-01-18
81605,City Hotel,0,12,2016,June,26,20,1,0,1,...,No Deposit,NaN,40.0,0,Transient,65.00,0,1,Check-Out,2016-06-21
787,Resort Hotel,1,118,2015,July,31,29,1,4,2,...,No Deposit,240.0,NaN,0,Transient,186.00,0,2,Canceled,2015-07-10
81986,City Hotel,1,115,2016,March,13,20,2,0,1,...,Non Refund,41.0,NaN,22,Transient,70.00,0,0,Canceled,2015-12-18
22445,Resort Hotel,0,35,2016,March,13,22,0,4,2,...,No Deposit,250.0,NaN,0,Transient,95.50,1,0,Check-Out,2016-03-26
28123,Resort Hotel,0,1,2016,September,39,19,1,1,2,...,No Deposit,250.0,NaN,0,Transient,110.00,0,0,Check-Out,2016-09-21

In [12]:
hotel.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [13]:
hotel_copy = hotel.copy()[['lead_time', 'adr', 'arrival_date_day_of_month', 'stays_in_week_nights', 'stays_in_weekend_nights', ]]

In [14]:
hotel_copy.sample()

,lead_time,adr,arrival_date_day_of_month,stays_in_week_nights,stays_in_weekend_nights
89987,102,65.0,5,0,1

In [15]:
from collections import Counter
def my_mode(sample):
    c = Counter(sample).most_common(1)[0][0]
    return c

In [16]:
my_mode(hotel_copy['arrival_date_day_of_month'])

17

In [17]:
def mtc(data):
    data_mtc = round(data.agg({'mean', 'median', my_mode, 'max', 'min'}), 2)
    return data_mtc

In [18]:
mtc(hotel_copy)

,lead_time,adr,arrival_date_day_of_month,stays_in_week_nights,stays_in_weekend_nights
my_mode,0.00,62.00,17.0,2.0,0.00
mean,104.01,101.83,15.8,2.5,0.93
min,0.00,-6.38,1.0,0.0,0.00
max,737.00,5400.00,31.0,50.0,19.00
median,69.00,94.58,16.0,2.0,1.00

In [19]:
group_by_month = hotel.copy()[['hotel', 'lead_time', 'adr', 'arrival_date_day_of_month', 'stays_in_week_nights', 'stays_in_weekend_nights']].groupby('hotel').mean()

In [20]:
group_by_month

,lead_time,adr,arrival_date_day_of_month,stays_in_week_nights,stays_in_weekend_nights
hotel,,,,,
City Hotel,109.735724,105.304465,15.786625,2.182957,0.795185
Resort Hotel,92.675686,94.952930,15.821243,3.128732,1.189815

In [21]:
hotel2 = hotel.copy()

In [22]:
hotel2['hotel'] == 'Resort Hotel'

0          True
1          True
2          True
3          True
4          True
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: hotel, Length: 119390, dtype: bool

In [23]:
hotel2.loc[(hotel2['hotel']=='Resort Hotel') & (hotel2['adr'] > 100)][['hotel', 'adr']].groupby('hotel').mean()

                     adr
hotel
Resort Hotel  165.748965

In [24]:
hotel2[['hotel', 'adr', 'arrival_date_month']].groupby(['hotel', 'arrival_date_month']).mean()

                                        adr
hotel        arrival_date_month
City Hotel   April               111.251838
             August              114.680455
             December             88.826307
             February             85.088278
             January              82.628986
             July                110.734292
             June                119.074341
             March                92.643116
             May                 121.638560
             November             88.069601
             October              99.974498
             September           110.004661
Resort Hotel April                77.849496
             August              186.790574
             December             68.984230
             February             55.171930
             January              49.461883
             July                155.181299
             June                110.444749
             March                57.520147
             May                  78.758134
             November             48.273993
             October              62.097617
             September            93.252030

In [25]:
hotel2

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [26]:
hotel2['total_rooms_nights'] = hotel2['stays_in_week_nights'] + hotel2['stays_in_weekend_nights']

In [27]:
hotel2.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_rooms_nights
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [28]:
hotel2['total_rate'] = hotel2['adr'] * hotel2['total_rooms_nights']

In [29]:
hotel2.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_rooms_nights,total_rate
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,75.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,75.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,196.0

In [35]:
total_rooms_nights = hotel2['total_rooms_nights'].sum()

In [36]:
from collections import Counter
total_num_bookings = Counter(hotel2['is_canceled']).most_common(1)[0][1]

In [37]:
hotel['is_canceled'].value_counts()

is_canceled
0    75166
1    44224
Name: count, dtype: int64

In [48]:
total_num_bookings

75166

In [38]:
alos = round(total_rooms_nights / total_num_bookings,2)

In [53]:
alos

568.39

In [55]:
hotel.head(15)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05

In [30]:
hotel_numeric= hotel.copy()[['lead_time', 'adr', 'arrival_date_day_of_month', 'stays_in_week_nights', 'stays_in_weekend_nights', ]]

In [31]:
def rango(sample):
    rango = np.max(sample.dropna().values) - np.min(sample.dropna().values)
    return rango

In [32]:
hotel_numeric

,lead_time,adr,arrival_date_day_of_month,stays_in_week_nights,stays_in_weekend_nights
0,342,0.00,1,0,0
1,737,0.00,1,0,0
2,7,75.00,1,1,0
3,13,75.00,1,1,0
4,14,98.00,1,2,0
...,...,...,...,...,...
119385,23,96.14,30,5,2
119386,102,225.43,31,5,2
119387,34,157.71,31,5,2
119388,109,104.40,31,5,2
119389,205,151.20,29,7,2

In [33]:
rangos = hotel_numeric.apply(rango)

#Rangos

In [34]:
rangos

lead_time                     737.00
adr                          5406.38
arrival_date_day_of_month      30.00
stays_in_week_nights           50.00
stays_in_weekend_nights        19.00
dtype: float64

#rango interquartil

In [35]:
def iqr(sample):
    q3, q1 = np.percentile(sample.dropna().values,[75,25])
    inqr = q3 - q1
    return inqr

In [36]:
r_inqr = hotel_numeric.apply(iqr)

In [37]:
r_inqr

lead_time                    142.00
adr                           56.71
arrival_date_day_of_month     15.00
stays_in_week_nights           2.00
stays_in_weekend_nights        2.00
dtype: float64

#Desviación estándar

In [38]:
hotel_numeric.std()

lead_time                    106.863097
adr                           50.535790
arrival_date_day_of_month      8.780829
stays_in_week_nights           1.908286
stays_in_weekend_nights        0.998613
dtype: float64

In [39]:
def coeficiente_variacion(sample):
    cve = np.round(sample.std()/sample.mean(),3)
    return cve*100

In [40]:
coeficiente_variacion = np.round(hotel_numeric.std()/hotel_numeric.mean(), 2)

In [41]:
coeficiente_de_variacion = coeficiente_variacion.reset_index().rename(columns={'index':'Variable', 0:'Coeficiente de variación'})

In [42]:
coeficiente_de_variacion['mediana'] = hotel_numeric.median().values

In [43]:
coeficiente_de_variacion

                    Variable  Coeficiente de variación  mediana
0                  lead_time                      1.03   69.000
1                        adr                      0.50   94.575
2  arrival_date_day_of_month                      0.56   16.000
3       stays_in_week_nights                      0.76    2.000
4    stays_in_weekend_nights                      1.08    1.000

In [44]:
hotel2.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_rooms_nights,total_rate
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,...,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,...,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363,3.427900,357.848208
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,...,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798,2.557439,335.910109
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000,0.000000,-63.800000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000,2.000000,146.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000,3.000000,267.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,4.000000,446.250000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,...,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000,69.000000,7590.000000