In [39]:
import pandas as pd
from sodapy import Socrata
import numpy as np
import json

In [43]:
# in place of application token, and no username or password:
client = Socrata("www.datos.gov.co", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [45]:
metadata = client.get_metadata("jqjy-rhzv")
# Convertir metadata dict to JSON, analizar en: 
output_json = json.dumps(metadata, indent = 4)
# Total de datos
N = int(metadata['columns'][0]['cachedContents']['count'])

In [47]:
# ejemplo de los datos
results = client.get("jqjy-rhzv", limit=2000, offset=0)
results_df = pd.DataFrame.from_records(results)

In [48]:
results_df.head()

,a_o,rnt,estado,categoria,subcategoria,nomdep,nombre_muni,razon_social,habitaciones,camas,empleados
0,2005,1,ACTIVO,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,BOGOTA,BOGOTA,VIAJES Y TURISMO DON QUIJOTE LTDA,0,0,6
1,2005,2,ACTIVO,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,SAN ANDRES Y PROVIDENCIA,SAN ANDRES,ISLATUR LALIANXA LIMITADA,0,0,10
2,2005,11,ACTIVO,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,BOGOTA,BOGOTA,TRAVEL CLUB SAS,0,0,300
3,2005,20,ACTIVO,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,BOGOTA,BOGOTA,LUHRS BELTRAN LUBEL REPRESENTACIONES S.A.S,0,0,6
4,2005,26,ACTIVO,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,BOGOTA,BOGOTA,PENTA REPRESENTACIONES LTDA,0,0,1

In [50]:
offset = 2000
for batch in range(1, int(np.ceil(N / 2000))+1):
    results_tmp = client.get("jqjy-rhzv", limit=2000, offset=offset)
    results_df_tmp = pd.DataFrame.from_records(results_tmp)
    results_df = pd.concat([results_df, results_df_tmp], axis=0)
    offset += 2000

In [51]:
results_df.head()

,a_o,rnt,estado,categoria,subcategoria,nomdep,nombre_muni,razon_social,habitaciones,camas,empleados
0,2005,1,ACTIVO,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,BOGOTA,BOGOTA,VIAJES Y TURISMO DON QUIJOTE LTDA,0,0,6
1,2005,2,ACTIVO,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,SAN ANDRES Y PROVIDENCIA,SAN ANDRES,ISLATUR LALIANXA LIMITADA,0,0,10
2,2005,11,ACTIVO,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,BOGOTA,BOGOTA,TRAVEL CLUB SAS,0,0,300
3,2005,20,ACTIVO,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,BOGOTA,BOGOTA,LUHRS BELTRAN LUBEL REPRESENTACIONES S.A.S,0,0,6
4,2005,26,ACTIVO,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,BOGOTA,BOGOTA,PENTA REPRESENTACIONES LTDA,0,0,1

In [52]:
results_df.to_csv('datos_abiertos.csv', index=False)