# Listas

In [35]:
import pandas as pd

a = [1,2,3,4,5, 5, 5, 5]
b = (1, 2, 3, 4, 5)

In [28]:
# a.sort(reverse=True)

In [29]:
lista_atend = []

In [30]:
b = a.copy()
for cliente in range(len(a)):
    tmp = b.pop()
    lista_atend.append(tmp)

In [31]:
lista_atend

[5, 4, 3, 2, 1]

In [34]:
pd.DataFrame({'Col A': [1, 2, 3], 'Col B': [4, 5, 6], 'ColC': 'Unico'})

   Col A  Col B   ColC
0      1      4  Unico
1      2      5  Unico
2      3      6  Unico

In [38]:
lista_c = []
for i in a:
    if i not in lista_c:
        lista_c.append(i)
print(lista_c)

[1, 2, 3, 4, 5]

In [41]:
lista_d = [i for i in a if i not in lista_c]
print(lista_d)

[]